In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
business = pd.read_csv('fiuba_4_postulaciones.csv')
business.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [3]:
business_index = business.index
business_columns = business.columns
business_data = business.values

In [4]:
business_columns

Index([u'idaviso', u'idpostulante', u'fechapostulacion'], dtype='object')

In [5]:
business.dtypes

idaviso              int64
idpostulante        object
fechapostulacion    object
dtype: object

In [7]:
business.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
dtype: bool

In [8]:
# We can also check if there are null values by using hasnans attribute:
business.hasnans

AttributeError: 'DataFrame' object has no attribute 'hasnans'

In [9]:
business['fechapostulacion'].describe()

count                 3401623
unique                1940105
top       2018-01-17 07:03:36
freq                       25
Name: fechapostulacion, dtype: object

In [10]:
#Selecting two columns with different data types:
fechapostulacion = business['fechapostulacion']
idpostulante = business['idpostulante']
idaviso = business['idaviso']

In [12]:
fechapostulacion.hasnans

False

In [13]:
idpostulante.hasnans

False

In [14]:
idaviso.hasnans

False

In [15]:
fechapostulacion = pd.to_datetime(fechapostulacion)

In [16]:
business.dtypes

idaviso              int64
idpostulante        object
fechapostulacion    object
dtype: object

In [17]:
fechapostulacion.dtypes

dtype('<M8[ns]')

In [18]:
fechapostulacion.dtype

dtype('<M8[ns]')

In [19]:
fechapostulacion.day

AttributeError: 'Series' object has no attribute 'day'

In [20]:
 pd.to_datetime(fechapostulacion)

0         2018-01-15 16:22:34
1         2018-02-06 09:04:50
2         2018-02-22 09:04:47
3         2018-02-22 09:04:59
4         2018-01-25 18:55:03
5         2018-01-29 13:34:44
6         2018-02-07 20:49:22
7         2018-02-07 20:50:13
8         2018-02-07 20:51:15
9         2018-02-09 20:24:57
10        2018-02-18 23:49:34
11        2018-02-19 00:01:20
12        2018-02-28 15:54:28
13        2018-02-28 15:54:47
14        2018-02-28 15:56:43
15        2018-02-28 15:57:35
16        2018-02-28 15:59:14
17        2018-02-28 16:00:06
18        2018-02-28 16:00:41
19        2018-02-28 16:02:15
20        2018-01-24 15:07:39
21        2018-01-24 15:20:10
22        2018-01-26 08:37:04
23        2018-01-30 13:35:48
24        2018-01-31 08:41:05
25        2018-01-31 08:55:20
26        2018-02-03 15:55:15
27        2018-02-07 09:56:22
28        2018-02-09 10:29:54
29        2018-02-11 17:49:26
                  ...
3401593   2018-02-28 23:52:11
3401594   2018-02-28 23:58:12
3401595   2018-02-28 23:18:45
3401596   2018-02-28 23:24:13
3401597   2018-02-28 23:25:09
3401598   2018-02-28 23:27:25
3401599   2018-02-28 23:23:36
3401600   2018-02-28 23:23:57
3401601   2018-02-28 23:26:49
3401602   2018-02-28 23:27:05
3401603   2018-02-28 23:28:08
3401604   2018-02-28 23:42:56
3401605   2018-02-28 23:54:35
3401606   2018-02-28 23:56:19
3401607   2018-02-28 23:57:03
3401608   2018-02-28 23:41:51
3401609   2018-02-28 23:45:56
3401610   2018-02-28 23:47:27
3401611   2018-02-28 23:48:49
3401612   2018-02-28 23:50:42
3401613   2018-02-28 23:56:53
3401614   2018-02-28 23:57:22
3401615   2018-02-28 23:58:32
3401616   2018-02-28 23:59:34
3401617   2018-02-28 23:49:46
3401618   2018-02-28 23:54:44
3401619   2018-02-28 23:57:43
3401620   2018-02-28 23:52:13
3401621   2018-02-28 23:59:06
3401622   2018-02-28 23:56:10
Name: fechapostulacion, Length: 3401623, dtype: datetime64[ns]

In [21]:
business['fechapostulacion'] = pd.to_datetime(business['fechapostulacion'])

In [22]:
business.dtypes

idaviso                      int64
idpostulante                object
fechapostulacion    datetime64[ns]
dtype: object

In [23]:
business.dtypes

idaviso                      int64
idpostulante                object
fechapostulacion    datetime64[ns]
dtype: object

In [24]:
business['fechapostulacion'].dt.weekday_name

0             Monday
1            Tuesday
2           Thursday
3           Thursday
4           Thursday
5             Monday
6          Wednesday
7          Wednesday
8          Wednesday
9             Friday
10            Sunday
11            Monday
12         Wednesday
13         Wednesday
14         Wednesday
15         Wednesday
16         Wednesday
17         Wednesday
18         Wednesday
19         Wednesday
20         Wednesday
21         Wednesday
22            Friday
23           Tuesday
24         Wednesday
25         Wednesday
26          Saturday
27         Wednesday
28            Friday
29            Sunday
             ...
3401593    Wednesday
3401594    Wednesday
3401595    Wednesday
3401596    Wednesday
3401597    Wednesday
3401598    Wednesday
3401599    Wednesday
3401600    Wednesday
3401601    Wednesday
3401602    Wednesday
3401603    Wednesday
3401604    Wednesday
3401605    Wednesday
3401606    Wednesday
3401607    Wednesday
3401608    Wednesday
3401609    Wednesday
3401610    Wednesday
3401611    Wednesday
3401612    Wednesday
3401613    Wednesday
3401614    Wednesday
3401615    Wednesday
3401616    Wednesday
3401617    Wednesday
3401618    Wednesday
3401619    Wednesday
3401620    Wednesday
3401621    Wednesday
3401622    Wednesday
Name: fechapostulacion, Length: 3401623, dtype: object

In [25]:
business.groupby('fechapostulacion').mean()

                          idaviso
fechapostulacion
2018-01-15 00:00:01  1.112205e+09
2018-01-15 00:00:02  1.112255e+09
2018-01-15 00:00:09  1.112246e+09
2018-01-15 00:00:10  1.112034e+09
2018-01-15 00:00:11  1.111960e+09
2018-01-15 00:00:16  1.112232e+09
2018-01-15 00:00:18  1.112224e+09
2018-01-15 00:00:21  1.112238e+09
2018-01-15 00:00:23  1.112222e+09
2018-01-15 00:00:24  1.112234e+09
2018-01-15 00:00:28  1.112248e+09
2018-01-15 00:00:38  1.112253e+09
2018-01-15 00:00:41  1.112238e+09
2018-01-15 00:00:44  1.112244e+09
2018-01-15 00:00:47  1.112224e+09
2018-01-15 00:00:48  1.112250e+09
2018-01-15 00:00:49  1.112253e+09
2018-01-15 00:00:54  1.112227e+09
2018-01-15 00:01:13  1.112258e+09
2018-01-15 00:01:17  1.112226e+09
2018-01-15 00:01:20  1.112256e+09
2018-01-15 00:01:23  1.112247e+09
2018-01-15 00:01:24  1.112258e+09
2018-01-15 00:01:30  1.112228e+09
2018-01-15 00:01:35  1.112249e+09
2018-01-15 00:01:36  1.112254e+09
2018-01-15 00:01:38  1.112255e+09
2018-01-15 00:01:41  1.111901e+09
2018-01-15 00:01:43  1.112034e+09
2018-01-15 00:01:53  1.111662e+09
...                           ...
2018-02-28 23:58:54  1.112369e+09
2018-02-28 23:58:55  1.112365e+09
2018-02-28 23:58:57  1.111662e+09
2018-02-28 23:58:58  1.112368e+09
2018-02-28 23:58:59  1.112323e+09
2018-02-28 23:59:00  1.112350e+09
2018-02-28 23:59:01  1.112366e+09
2018-02-28 23:59:02  1.112343e+09
2018-02-28 23:59:04  1.112345e+09
2018-02-28 23:59:06  1.112341e+09
2018-02-28 23:59:09  1.112356e+09
2018-02-28 23:59:10  1.112352e+09
2018-02-28 23:59:11  1.112312e+09
2018-02-28 23:59:13  1.112368e+09
2018-02-28 23:59:15  1.112225e+09
2018-02-28 23:59:18  1.112363e+09
2018-02-28 23:59:19  1.112114e+09
2018-02-28 23:59:26  1.112363e+09
2018-02-28 23:59:29  1.112323e+09
2018-02-28 23:59:33  1.112299e+09
2018-02-28 23:59:34  1.112349e+09
2018-02-28 23:59:38  1.112366e+09
2018-02-28 23:59:39  1.112338e+09
2018-02-28 23:59:44  1.112334e+09
2018-02-28 23:59:46  1.112359e+09
2018-02-28 23:59:47  1.112355e+09
2018-02-28 23:59:48  1.112345e+09
2018-02-28 23:59:50  1.112365e+09
2018-02-28 23:59:54  1.112365e+09
2018-02-28 23:59:55  1.112364e+09

[1940105 rows x 1 columns]

In [1]:
nombre_dia_semana = business['fechapostulacion'].dt.weekday_name

NameError: name 'business' is not defined

In [ ]:
nombre_dia_semana.mean()

In [ ]:
nombre_dia_semana.count

In [ ]:
nombre_dia_semana.head()